<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .small-1 {
            font-size: 10px;
        }

        .small-title {
            font-size: 12px;
        }
    </style>
</head>

<body style="text-align: center;">
    <br>
    <h6>DOCUMENTO TRIBUTARIO ELECTRÓNICO<br>{{:nombreFactura}}</h6>
    <div class="row px-4 ">
        <div class="col-3" style="height: 100px;"> 
            <img src="{{:iconInvoice}}" style="max-width:100%;max-height:100%;" alt="">
        </div>
        <div class="col-2">
            <img src="{{:qr}}" style="width: 100%;" alt="">
        </div>
        <div class="col-4 mt-1">
            <table>
                <tr>
                    <td class="small-1 p-0 m-0 text-start pe-2"><b>Código de Generación:</b>  <br>{{:identificacion.codigoGeneracion}} </td>
                </tr>
                <tr>
                    <td class="small-1 p-0 m-0 text-start pe-2"> <b>Número de Control:</b> <br>{{:identificacion.numeroControl}}
                    </td>
                </tr>
                <tr>
                    <td class="small-1 p-0 m-0 text-start pe-2"> <b>Sello de Recepción: </b> <br>{{:selloRecibido}} </td>
                </tr>
            </table>
        </div>
        <div class="col-3 mt-1">
            <table style="width: 100%;">
                <tr>
                    <td class="small-1 p-0 m-0 text-start pe-2"> <b>Módelo de Facturación:</b> <br> {{:identificacion.tipoModelo}}</td>
                </tr>
                <tr>
                    <td class="small-1 p-0 m-0 text-start pe-2"> <b>Tipo de Transmisión:</b>  <br> {{:identificacion.tipoOperacion}}</td>
                </tr>
                <tr>
                    <td class="small-1 p-0 m-0 text-start pe-2"> <b>Fecha y Hora de Generación:</b>  <br> {{:identificacion.fecEmi}} {{:identificacion.horEmi}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row px-4  pt-2">
        <div class="col-6">
            <p class="p-0 m-0 small-title"><b>EMISOR</b> </p>
            <div class="border rounded" style="height:210px;">
                <table style="width: 100%; ">
                    <tr>
                        <td style="width: 35%;" class="small-1 p-0 m-0 text-end pe-2"><b>Nombre o razón social:</b></td>
                        <td style="width: 65%;" class="small-1 p-0 m-0 text-start pe-2">{{:emisor.nombre}}
                        </td>
                    </tr>
                    <tr>
                        <td class="small-1 p-0 m-0 text-end pe-2 fw-bold">NIT:</td>
                        <td class="small-1 p-0 m-0 text-start pe-2">{{:emisor.nit}}</td>
                    </tr>
                    <tr>
                        <td class="small-1 p-0 m-0 text-end pe-2 fw-bold">NRC:</td>
                        <td class="small-1 p-0 m-0 text-start pe-2">{{:emisor.nrc}}</td>
                    </tr>
                    <tr>
                        <td class="small-1 p-0 m-0 text-end pe-2 fw-bold">Actividad económica:</td>
                        <td class="small-1 p-0 m-0 text-start pe-2">{{:emisor.descActividad}}</td>
                    </tr>
                    <tr>
                        <td class="small-1 p-0 m-0 text-end pe-2 fw-bold">Dirección:</td>
                        <td class="small-1 p-0 m-0 text-start pe-2">{{:emisor.direccion}}</td>
                    </tr>
                    <tr>
                        <td class="small-1 p-0 m-0 text-end pe-2 fw-bold">Número de teléfono:</td>
                        <td class="small-1 p-0 m-0 text-start pe-2">{{:emisor.telefono}}</td>
                    </tr>
                    <tr>
                        <td class="small-1 p-0 m-0 text-end pe-2 fw-bold">Correo electrónico:</td>
                        <td class="small-1 p-0 m-0 text-start pe-2">{{:emisor.correo}}</td>
                    </tr>
                    <tr>
                        <td class="small-1 p-0 m-0 text-end pe-2 fw-bold">Nombre Comercial:</td>
                        <td class="small-1 p-0 m-0 text-start pe-2">{{:emisor.nombreComercial}}</td>
                    </tr>
                    <tr>
                        <td class="small-1 p-0 m-0 text-end pe-2 fw-bold">Tipo de establecimiento:</td>
                        <td class="small-1 p-0 m-0 text-start pe-2">{{:emisor.tipoEstablecimiento}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class=" col-6  ">
            <p class="p-0 m-0 small-title  fw-bold">RECEPTOR</p>
            <div class="border rounded" style="height:210px;">
                <table style="width: 100%;">
                    {{if receptor.nombre}}
                    <tr>
                        <td style="width: 50%;" class="small-1 p-0 m-0 text-end pe-2  fw-bold">Nombre o razón social:</td>
                        <td style="width: 50%;" class="small-1 p-0 m-0 text-start pe-2">{{:receptor.nombre}}</td>
                    </tr>
                    {{else}}
                    {{/if}}

 
                    <tr>
                        <td class="small-1 p-0 m-0 text-end pe-2 fw-bold">NIT:</td>
                        <td class="small-1 p-0 m-0 text-start pe-2">
                            {{if receptor.nit}}
                            {{:receptor.nit}}
                            {{else}}
                            {{/if}}
                        </td>
                    </tr> 
                     
                    <tr>
                        <td class="small-1 p-0 m-0 text-end pe-2 fw-bold">NRC:</td>
                        <td class="small-1 p-0 m-0 text-start pe-2">
                            {{if receptor.nrc}}
                            {{:receptor.nrc}}
                            {{else}}
                            {{/if}}
                        </td>
                    </tr> 
 

                    <tr>
                        <td class="small-1 p-0 m-0 text-end pe-2 fw-bold">Actividad económica:</td>
                        <td class="small-1 p-0 m-0 text-start pe-2"> 
                            {{if receptor.descActividad}}
                            {{:receptor.descActividad}}
                            {{else}}
                            {{/if}}
                        </td>
                    </tr>

                    <tr>
                        <td class="small-1 p-0 m-0 text-end pe-2 fw-bold">Correo Electrónico:</td>
                        <td class="small-1 p-0 m-0 text-start pe-2">

                            {{if receptor.correo}}
                            {{:receptor.correo}}
                            {{else}}
                            {{/if}}
                        </td>
                    </tr>

                    <tr>
                        <td class="small-1 p-0 m-0 text-end pe-2 fw-bold">Nombre Comercial:</td>
                        <td class="small-1 p-0 m-0 text-start pe-2">

                            {{if receptor.nombreComercial}}
                            {{:receptor.nombreComercial}}
                            {{else}}
                            {{/if}}
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <div class="row px-4 pt-2">
        <div class="col-12">
            <p class="p-0 m-0 small-title fw-bold">VENTA A CUENTA DE TERCEROS</p>
            <div class="border rounded">
                <table style="width: 100%;">
                    <td style="width: 15%;" class=" fw-bold small-1 p-0 m-0 text-start pe-2 ps-2">NIT:</td>
                    <td style="width: 25%;" class=" fw-bold small-1 p-0 m-0 text-end pe-2"></td>
                    <td style="width: 35%;" class=" fw-bold small-1 p-0 m-0 text-end pe-2">Nombre, denominación o razón social:
                    </td>
                    <td style="width: 25%;" class=" small-1 p-0 m-0 text-end pe-2"></td>
                </table>
            </div>
        </div>
    </div>
    <div class="row px-4 pt-2">
        <div class="col-12"> 
            <p class="p-0 m-0 small-title fw-bold">DOCUMENTOS RELACIONADOS</p>
            <div class="border rounded">
                <table style="width: 100%;">
                    <tr> 
                        <td style="width: auto;" class=" fw-bold small-1 p-0 m-0 text-start pe-2 ps-2">Tipo de Documento:</td> 
                        <td style="width: auto;" class=" fw-bold small-1 p-0 m-0 text-start pe-2">N° de documento:</td> 
                        <td style="width: auto;" class=" fw-bold small-1 p-0 m-0 text-start pe-2">Fecha del Documento:</td> 
                    </tr>
                    <tr> 
                        <td style="width: auto;" class=" fw-bold small-1 p-0 m-0 text-start pe-2">COMPROBANTE DE CRÉDITO FISCAL</td> 
                        <td style="width: auto;" class=" fw-bold small-1 p-0 m-0 text-start pe-2">{{:documentoRelacionado[0].numeroDocumento}}</td> 
                        <td style="width: auto;" class=" fw-bold small-1 p-0 m-0 text-start pe-2">{{:documentoRelacionado[0].fechaEmision}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div> 
    <div class="row px-4 pt-2">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 7%;" class="small-1 p-0 m-0 text-center">N°</th>
                        <th style="width: 7%;" class="small-1 p-0 m-0 text-center">Cantidad</th>
                        <th style="width: 7%;" class="small-1 p-0 m-0 text-center">Unidad</th>
                        <th style="width: 23%;" class="small-1 p-0 m-0 text-center">Descripción</th>
                        <th style="width: 8%;" class="small-1 p-0 m-0 text-center">Precio<br>Unitario</th> 
                        <th style="width: 10%;" class="small-1 p-0 m-0 text-center">Descuento por<br>item</th>
                        <th style="width: 8%;" class="small-1 p-0 m-0 text-center">Ventas <br>No <br>Sujetas</th>
                        <th style="width: 10%;" class="small-1 p-0 m-0 text-center">Ventas<br>Exentas</th>
                        <th style="width: 10%;" class="small-1 p-0 m-0 text-center">Ventas<br>Gravadas</th>
                    </tr>
                </thead>
                <tbody>
                    {{for cuerpoDocumento}}
                    <tr>
                        <td class="small-1 p-0 m-0 text-center">{{:numItem}}</td>
                        <td class="small-1 p-0 m-0 text-center">{{:cantidad}}</td> 
                        <td class="small-1 p-0 m-0 text-center">Unidad</td>
                        <td class="small-1 p-0 m-0 text-start">{{:descripcion}}</td>
                        <td class="small-1 p-0 m-0 text-end">{{:precioUni}}</td> 
                        <td class="small-1 p-0 m-0 text-end">{{:montoDescu}}</td>
                        <td class="small-1 p-0 m-0 text-end">{{:ventaNoSuj}}</td>
                        <td class="small-1 p-0 m-0 text-end">{{:ventaExenta}}</td>
                        <td class="small-1 p-0 m-0 text-end">{{:ventaGravada}}</td>
                    </tr>
                    {{/for}}
                </tbody>
                <tfoot>
                    <tr>
                        <td class="small-1 p-0 m-0 text-end fw-bold" colspan="6">Suma de Ventas:</td>
                        <td class="small-1 p-0 m-0 text-end">{{:resumen.totalNoSuj}}</td>
                        <td class="small-1 p-0 m-0 text-end">{{:resumen.totalExenta}}</td>
                        <td class="small-1 p-0 m-0 text-end">{{:resumen.totalGravada}}</td>
                    </tr>
                    <tr>
                        <td class="small-1 p-0 m-0 text-end" colspan="5"></td>
                        <td class="small-1 p-0 m-0 text-end fw-bold" colspan="3">Suma Total de Operaciones:</td>
                        <td class="small-1 p-0 m-0 text-end">{{:resumen.subTotalVentas}}</td>
                    </tr>
                    <tr>
                        <td class="small-1 p-0 m-0 text-end" colspan="5"></td>
                        <td class="small-1 p-0 m-0 text-end fw-bold" colspan="3">Monto global Desc., Rebajas y otros a ventas no
                            sujetas:</td>
                        <td class="small-1 p-0 m-0 text-end">{{:resumen.descuNoSuj}}</td>
                    </tr>
                    <tr>
                        <td class="small-1 p-0 m-0 text-end" colspan="5"></td>
                        <td class="small-1 p-0 m-0 text-end fw-bold" colspan="3">Monto global Desc., Rebajas y otros a ventas
                            exentas:</td>
                        <td class="small-1 p-0 m-0 text-end">{{:resumen.descuExenta}}</td>
                    </tr>
                    <tr>
                        <td class="small-1 p-0 m-0 text-end" colspan="5"></td>
                        <td class="small-1 p-0 m-0 text-end fw-bold" colspan="3">Monto global Desc., Rebajas y otros a ventas
                            gravada:</td>
                        <td class="small-1 p-0 m-0 text-end">{{:resumen.descuGravada}}</td>
                    </tr>
                    {{if resumen.tributos && resumen.tributos.length > 0}}

                    {{for resumen.tributos}}
                    <tr>
                        <td class="small-1 p-0 m-0 text-end" colspan="5"></td>
                        <td class="small-1 p-0 m-0 text-end" colspan="3">{{>descripcion}}</td>
                        <td class="small-1 p-0 m-0 text-end">
                            {{>valor}}
                        </td>
                    </tr>
                    {{/for}}
                    {{else}}
                    {{/if}}
                    <tr>
                        <td class="small-1 p-0 m-0 text-end" colspan="5"></td>
                        <td class="small-1 p-0 m-0 text-end  fw-bold" colspan="3">Sub-Total:</td>
                        <td class="small-1 p-0 m-0 text-end">{{:resumen.subTotal}}</td>
                    </tr>
                    <tr>
                        <td class="small-1 p-0 m-0 text-end" colspan="5"></td>
                        <td class="small-1 p-0 m-0 text-end fw-bold" colspan="3">IVA Percibido:</td>
                        <td class="small-1 p-0 m-0 text-end">0.00</td>
                    </tr>
                    <tr>
                        <td class="small-1 p-0 m-0 text-end" colspan="5"></td>
                        <td class="small-1 p-0 m-0 text-end fw-bold" colspan="3">IVA Retenido:</td>
                        <td class="small-1 p-0 m-0 text-end">{{:resumen.ivaRete1}}</td>
                    </tr>
                    <tr>
                        <td class="small-1 p-0 m-0 text-end" colspan="5"></td>
                        <td class="small-1 p-0 m-0 text-end fw-bold" colspan="3">Retención Renta:</td>
                        <td class="small-1 p-0 m-0 text-end">{{:resumen.reteRenta}}</td>
                    </tr>
                    <tr>
                        <td class="small-1 p-0 m-0 text-end" colspan="5"></td>
                        <td class="small-1 p-0 m-0 text-end fw-bold" colspan="3">Monto Total de la Operación:</td>
                        <td class="small-1 p-0 m-0 text-end">{{:resumen.montoTotalOperacion}}</td>
                    </tr> 
                </tfoot>
            </table>

        </div>
    </div>
    <div class="row px-4 pt-2">
        <div class="col-12">
            <div class="border rounded">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 10%;" class=" fw-bold small-1 p-0 m-0 text-start pe-2 ps-2">Valor en Letras:</td>
                        <td style="width: 40%;" class="small-1 p-0 m-0 text-start pe-2">{{:resumen.totalLetras}}</td>
                        <td style="width: 25%;" class=" fw-bold small-1 p-0 m-0 text-end pe-2">Condición de la Operación:</td>
                        <td style="width: 25%;" class="small-1 p-0 m-0 text-end pe-2">Contado</td>
                    </tr>
                    <tr>
                        <td style="width: 25%;" class=" fw-bold small-1 p-0 m-0 text-start pe-2 ps-2">Observaciones:</td>
                        <td style="width: 25%;" class="small-1 p-0 m-0 text-end pe-2"></td>
                        <td style="width: 25%;" class="small-1 p-0 m-0 text-end pe-2"></td>
                        <td style="width: 25%;" class="small-1 p-0 m-0 text-end pe-2"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row px-4 pt-2">
        <div class="col-12">
            <div class="border rounded">
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 25%;" class=" fw-bold small-1 p-0 m-0 text-start pe-2 ps-2">Responsable por parte del
                            Emiso:</td>
                        <td style="width: 25%;" class="small-1 p-0 m-0 text-end pe-2"></td>
                        <td style="width: 25%;" class=" fw-bold small-1 p-0 m-0 text-end pe-2">N° de Documento:</td>
                        <td style="width: 25%;" class="small-1 p-0 m-0 text-end pe-2"></td>
                    </tr>
                    <tr>
                        <td style="width: 25%;" class=" fw-bold small-1 p-0 m-0 text-start pe-2 ps-2">Responsable por parte del
                            Recepto:</td>
                        <td style="width: 25%;" class="small-1 p-0 m-0 text-end pe-2"></td>
                        <td style="width: 25%;" class=" fw-bold small-1 p-0 m-0 text-end pe-2">N° de Documento:</td>
                        <td style="width: 25%;" class="small-1 p-0 m-0 text-end pe-2"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>

</html>